<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzBK--HKURf4YIQhlfdhvx7WB__TvqrOBniA&usqp=CAU">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?cs=srgb&dl=pexels-james-wheeler-414612.jpg&fm=jpg">
    </div>
    
    {{>footer}}
</body>

</html>