<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzBK--HKURf4YIQhlfdhvx7WB__TvqrOBniA&usqp=CAU">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>